/* contact.css */

/* ===[ begin ]=== */

  .button {
    padding: 1px;
    background: #ffcc99;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    border-style: outset;
    border-color: #d7b9c9;
    font-weight: bold;
    text-align: center;
  }

/* ===[ end ]=== */